body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #FFFBF3;
}

header{
    background-color:#5F9DF7;  
    position:sticky; 
    top:0;
    height: 76px;
}

#logoen{
  padding-top: 1%;
}

#loggInnFelt{
  background-color: #FF731D;
}

#loggInnFelt:hover{
  background-color: #f79354;
  color: #FFFBF3;
}

#logo{
  font-family: Arial;
  text-decoration: none;
  color: #FFFBF3;
  font-size: 4vh;
  text-align: center;
  font-weight: bold;
}


/* Inne i Main, slik at innholdet ikke blir for 
langt oppe på siden  */ 
#main{
    padding-top: 10vh;
}

#indexText{
  font-size: 3vh;
}

  li a {
    display:block;
    color: #FFFBF3;
    padding: 10px;
    margin: 2% 3% 3% 3%;
    padding: none;
    text-decoration: none;
    border-radius: 20px;
    border-style:solid;
    border-color: #FFFBF3;
  }

  /*fjerner den blåfargen og bytter den med rød når du hovrer på knappen :) "*/
  
  
  #active {
    background-color: #FFFBF3;
    color: #5F9DF7;
  }

  #active:hover {
    background-color: #81b2fc;
    color: #FFFBF3;
  }

  li a:hover {
    background-color: #81b2fc;
    color: #FFFBF3;
  }

  /* Icon til Logg inn knapp*/
  #logicon {
    content:url("../img/login_icon_w.png");
    padding-right: 15px;
    float:right;
    margin-left: none;
    margin-top: none;
  }

  #minSide {
    content:url("../img/user.png");
    padding-right: 15px;
    float:right;
    margin-left: none;
    margin-top: none;
  }


  footer{
    margin-top: auto;
    background-color: #5F9DF7;
    color:#FFFBF3;
    padding-top:2vh;
}




@media only screen and (max-width: 800px) {
    .nav-item {
        line-height: 2;
        font-size: 1.4vh;
    }

    #logo {
        font-size: 2vh;
    }

    #logoen {
        font-size: 5vh;
        text-align: center;
        padding-top: 3vh;
    }

    #logicon {
        visibility: hidden;
    }

    header {
        height: 120px;
    }
}