body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #FFFBF3;
}

header{
    background-color:#5F9DF7;  
    position:sticky; 
    top:0;
}


/* Inne i Main, slik at innholdet ikke blir for 
langt oppe på siden  */ 
#main-row{
    padding-top: 10vh;
}
  

  li a {
    display: block;
    color: #FFFBF3;
    padding: 10px;
    margin: 3%;
    text-decoration: none;
    border-radius: 20px;
    border-style:solid;
    border-color: #FFFBF3;
  }

  /*fjerner den blåfargen og bytter den med rød når du hovrer på knappen :) "*/
  a:hover {
    color: red;
  }
  
  #active {
    background-color: #4CAF50;
  }
  
  li a:hover {
    background-color: none;
  }

  footer{
    margin-top: auto;
    background-color: #5F9DF7;
    color:#FFFBF3;
    padding-top:2vh;
}